# Core requirements
streamlit
python
# Machine Learning and Deep Learning libraries
tensorflow
keras

# Image processing and visualization
opencv-python-headless  # Headless version for Streamlit deployment
matplotlib
pillow
seaborn

# Data manipulation
numpy
pandas
scikit-learn

# Other requirements
requests
